<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/nft/getSpecific">Find A Specific NFT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nft/getNFTs">Find NFTs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nft/getNFTOpensea">Get NFT by OpenSea</a>
      </li>
    </ul> -->
  </nav>