<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="nav-item">
    <button type="button" onclick="history.back()" class="btn btn-primary">Back</button>
  </a>

  <!-- <a class="btn btn-primary" href="/">Home</a> -->
  <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/nft/getSpecific">Find A Specific NFT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nft/getNFTs">Find NFTs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nft/getNFTOpensea">Get NFT by OpenSea</a>
      </li>
    </ul> -->
</nav>

<!-- <div id="modalNoti"class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: green;">You selected the image!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->