body {
  padding-top: 50px;
}

#connect-button {
  margin-left: auto;
  display: block;
}

.asterisk {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 5px;
}

img:hover {
  border: 5px solid lightseagreen;
  border-radius: 5px;
}
h1{
  text-align: center;
}