body {
  padding-top: 50px;
}

#connect-button {
  margin-left: auto;
  display: block;
}

.asterisk {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 5px;
}

img.nft:hover {
  border: 5px solid lightseagreen;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
.qr-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: green 1px solid;
  width: 200px;
  height: 200px;
  padding: 5px;
}